<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.template.portal.dao.ApplicationDao">

	<select id="get"  resultType="com.lk.template.portal.model.Application">
        select id, appcode, appname, apptype, url, icon, remark, sortno
        from portal_application where
        <if test="_parameter != null">
        id = ${_parameter}
        </if>
    </select>

	<!-- 查询所有列表 -->
	<select id="queryAllList" resultType="com.lk.template.portal.model.Application">
		select id, appcode, appname, apptype, url, icon, remark, sortno
        from portal_application where delflag='0'
        order by sortno
	</select>
	
	<!-- 查询所有有权限-->
	<select id="queryAllAuthList"  parameterType="String" resultType="com.lk.template.portal.model.Application">
		select id, appcode, appname, apptype, url, icon, remark, sortno
        from portal_application where delflag='0'
        order by sortno
	</select>
	
	<!-- 分页查询列表 -->
	<select id="queryListWithPage" parameterType="map" resultType="map">
	    SELECT id, appcode, appname, apptype, url, icon, remark, a.sortno, d.dictname apptypedesc
        FROM portal_application a
        left join comm_dict d on d.dicttypeid='portal_apptype' and d.dictid=a.apptype
        where delflag='0'
        <if test="appcode != null and appcode != ''">
           and appcode like '%${appcode}%'
        </if>
        <if test="appname != null and appname != ''">
           and appname like '${appname}%'
        </if>
        order by sortno
        limit ${(page-1)*limit},${limit}
	</select>
	<!-- 统计查询数量 -->
	<select id="count" parameterType="map" resultType="Integer">
	    SELECT count(1) FROM portal_application 
        where delflag='0'
        <if test="appcode != null and appcode != ''">
           and appcode like '%${appcode}%'
        </if>
        <if test="telephone != null and telephone != ''">
           and appname like '${appname}%'
        </if>
	</select>
	
	<insert id="insert" parameterType="com.lk.template.portal.model.Application">
        insert into portal_application
        (appcode, appname, apptype, url, icon, remark, sortno, createtime, creator, delflag)values
        (#{appcode}, #{appname}, #{apptype}, #{url}, #{icon}, #{remark}, #{sortno}, #{createtime}, #{creator}, #{delflag})
	</insert>
	
	<update id="update" parameterType="com.lk.template.portal.model.Application">
	    update portal_application
	    <set>
	        <if test="appcode != null">appcode=#{appcode},</if>
            <if test="appname != null">appname=#{appname},</if>
            <if test="apptype != null">apptype=#{apptype},</if>
            <if test="url != null">url=#{url},</if>
            <if test="icon != null">icon=#{icon},</if>
            <if test="remark != null">remark=#{remark},</if>
            <if test="sortno != null">sortno=#{sortno},</if>
            <if test="modifytime != null">modifytime=#{modifytime},</if>
            <if test="modifier != null">modifier=#{modifier},</if>
	    </set>
	    where id = #{id}
	</update>
	
	<update id="deleteBatch">
        update portal_application set delflag='1'  
        where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
