<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tr.mita.portal.dao.HomecfgDao">
    
    <resultMap type="java.util.HashMap" id="Myhomecfg">
	      <result column="menuid" property="menuid" jdbcType="BIGINT"  javaType="int" />
	      <result column="widthcell"  property="widthcell" jdbcType="BIGINT"  javaType="int"/>
	      <result column="heightcell"  property="heightcell" jdbcType="INTEGER"  javaType="int"/>
	      <result column="sortno" property="sortno" jdbcType="INTEGER"  javaType="int"/>
	      <result column="menuurl" property="menuurl" jdbcType="VARCHAR"  javaType="String"/>
	      <result column="homeurl" property="homeurl" jdbcType="VARCHAR"  javaType="String"/>
	      <result column="menuname" property="menuname" jdbcType="VARCHAR"  javaType="String"/>
	</resultMap>
	
	<!-- 查询首页设置 -->
    <select id="queryMyhomecfg" parameterType="map" resultMap="Myhomecfg">
        select b.id menuid ,a.widthcell widthcell,a.heightcell heightcell,a.sortno sortno,b.menuurl menuurl,b.homeurl homeurl,b.menuname
		from portal_homecfg a ,portal_menu b 
		where a.menuid=b.id and a.delflag='0' and b.delflag='0' and a.userid = (case when (select count(1) from portal_homecfg where userid=#{userid} and delflag='0')>0 then #{userid} else 0 end)
		order by a.sortno
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List" >
        insert into portal_homecfg(userid,menuid,widthcell,heightcell,sortno,delflag)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userid}, #{item.menuid}, #{item.widthcell}, #{item.heightcell}, #{item.sortno}, #{item.delflag})
        </foreach>
    </insert>
    
    <delete id="delHomecfgByUserid" parameterType="String">
        delete from portal_homecfg where userid=#{userid}
    </delete>
    
    
</mapper>