<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.template.portal.dao.MenuDao">

    <select id="get"  resultType="com.lk.template.portal.model.Menu">
        select id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        from portal_menu where
        <if test="_parameter != null">
        id = ${_parameter}
        </if>
    </select>

    <select id="queryAllList" resultType="com.lk.template.portal.model.Menu">
        select id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        from portal_menu where delflag='0'
        order by sortno
    </select>
    
    <select id="queryAuthMenusByAppid" parameterType="map" resultType="com.lk.template.portal.model.Menu">
        select id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        from portal_menu where delflag='0' and menulevel=1 and appid=#{appid}
        and id in (
            SELECT resid
            FROM portal_rolereslnk rl
            WHERE restype='MENU'
            AND roleid IN (
                SELECT roleid FROM portal_roleauthcfg
                WHERE roleauthtype='DEP' AND refid IN (SELECT departmentid FROM org_employee WHERE id IN(SELECT COALESCE(employeeid,0) FROM portal_user WHERE id = #{userid}))
                UNION ALL
                SELECT roleid FROM portal_roleauthcfg
                WHERE roleauthtype='POS' AND refid IN (SELECT positionid FROM org_empposlnk WHERE employeeid IN(SELECT COALESCE(employeeid,0) FROM portal_user WHERE id = #{userid}))
                UNION ALL
                SELECT roleid FROM portal_roleauthcfg
                WHERE roleauthtype='DEPPOS' AND refid IN (
                    SELECT l.id
                    FROM org_depposlnk l
                    INNER JOIN org_department d ON l.departmentid=d.id AND d.delflag='0'
                    INNER JOIN org_position p ON l.positionid=p.id AND p.delflag='0'
                    INNER JOIN org_empposlnk el ON d.id = el.departmentid AND p.id=el.positionid
                    INNER JOIN portal_user u ON el.employeeid=u.employeeid AND u.id=#{userid}
                )
            )
        )
        order by sortno
    </select>
    
    <select id="queryListWithPage" parameterType="map" resultType="com.lk.template.portal.model.Menu">
        select id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        from portal_menu where delflag='0'
        order by sortno
        limit #{begin}, #{rows}
    </select>
    <select id="count" parameterType="map" resultType="Integer">
        select count(1) from portal_menu where delflag='0' 
    </select>
    
    <!-- 通过父id查询菜单 -->
    <select id="queryMenusByParentid" parameterType="String" resultType="com.lk.template.portal.model.Menu">
        select id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        from portal_menu
        WHERE delflag='0' and parentid = #{parentid}
        order by sortno
    </select>

    <!-- 通过父id查询菜单 -->
    <select id="queryAuthMenusByParentid" parameterType="map" resultType="com.lk.template.portal.model.Menu">
        select id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        from portal_menu
        WHERE delflag='0' and parentid = #{parentid}
        and id in (
            SELECT resid
            FROM portal_rolereslnk rl
            WHERE restype='MENU'
            AND roleid IN (
                SELECT roleid FROM portal_roleauthcfg
                WHERE roleauthtype='DEP' AND refid IN (SELECT departmentid FROM org_employee WHERE id IN(SELECT COALESCE(employeeid,0) FROM portal_user WHERE id = #{userid}))
                UNION ALL
                SELECT roleid FROM portal_roleauthcfg
                WHERE roleauthtype='POS' AND refid IN (SELECT positionid FROM org_empposlnk WHERE employeeid IN(SELECT COALESCE(employeeid,0) FROM portal_user WHERE id = #{userid}))
                UNION ALL
                SELECT roleid FROM portal_roleauthcfg
                WHERE roleauthtype='DEPPOS' AND refid IN (
                    SELECT l.id
                    FROM org_depposlnk l
                    INNER JOIN org_department d ON l.departmentid=d.id AND d.delflag='0'
                    INNER JOIN org_position p ON l.positionid=p.id AND p.delflag='0'
                    INNER JOIN org_empposlnk el ON d.id = el.departmentid AND p.id=el.positionid
                    INNER JOIN portal_user u ON el.employeeid=u.employeeid AND u.id=#{userid}
                )
            )
        )
        order by sortno
    </select>
    
    <!-- 通过父id查询菜单 -->
    <select id="querySubMenusByParentidWithPage" parameterType="map" resultType="com.lk.template.portal.model.Menu">
        SELECT id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        FROM portal_menu WHERE ID IN (
		    SELECT id FROM (
		        SELECT id, parentid, IF(FIND_IN_SET(parentid, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) pids
		        FROM portal_menu, (SELECT @pids := #{parentid}) var
		        WHERE FIND_IN_SET(parentid, @pids) > 0
		    ) tmp
		) AND ID != #{parentid} and delflag='0'
        order by sortno
		limit #{begin}, #{rows}
    </select>
    <select id="countSubMenusByParentid" parameterType="map" resultType="Integer">
        select count(1) from portal_menu where ID IN (
            SELECT id FROM (
                SELECT id, parentid, IF(FIND_IN_SET(parentid, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) pids
                FROM portal_menu, (SELECT @pids := #{parentid}) var
                WHERE FIND_IN_SET(parentid, @pids) > 0
            ) tmp
        ) AND ID != #{parentid} and delflag='0'
    </select>
    
    <!-- 通过应用id查询菜单 -->
    <select id="querySubMenusByAppidWithPage" parameterType="map" resultType="com.lk.template.portal.model.Menu">
        SELECT id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        FROM portal_menu WHERE ID IN (
            SELECT id FROM portal_menu WHERE appid=#{parentid}
            union
            SELECT id FROM (
                SELECT id, parentid, IF(FIND_IN_SET(parentid, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) pids
                FROM portal_menu, (SELECT @pids := (SELECT GROUP_CONCAT(id) FROM portal_menu WHERE appid=#{parentid})) var
                WHERE FIND_IN_SET(parentid, @pids) > 0
            ) tmp
        ) and delflag='0'
        limit #{begin}, #{rows}
        order by sortno
    </select>
    <select id="countSubMenusByAppid" parameterType="map" resultType="Integer">
        select count(1) from portal_menu where ID IN (
            SELECT id FROM portal_menu WHERE appid=#{parentid}
            union
            SELECT id FROM (
                SELECT id, parentid, IF(FIND_IN_SET(parentid, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) pids
                FROM portal_menu, (SELECT @pids := (SELECT GROUP_CONCAT(id) FROM portal_menu WHERE appid=#{parentid})) var
                WHERE FIND_IN_SET(parentid, @pids) > 0
            ) tmp 
        ) and delflag='0'
    </select>
    
    <select id="queryMenusByAppid" resultType="com.lk.template.portal.model.Menu">
        select id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        from portal_menu
        where delflag='0' and appid=#{appid} and menulevel=1
        order by sortno
    </select>
    
    <insert id="insert" parameterType="com.lk.template.portal.model.Menu">
        INSERT portal_menu(menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark, createtime, creator, delflag)
        VALUES(#{menuno}, #{menuname}, #{parentid}, #{menulevel}, #{menuurl}, #{appid}, #{sortno}, #{menutype}, #{remark}, #{createtime}, #{creator}, #{delflag})
    </insert>
    
    <update id="update" parameterType="com.lk.template.portal.model.Menu">
        update portal_menu
        <trim prefix="set" suffixOverrides=",">  
            <if test="menuno != null">menuno=#{menuno},</if>
            <if test="menuname != null">menuname=#{menuname},</if>
            <if test="parentid != null">parentid=#{parentid},</if>
            <if test="menulevel != null">menulevel=#{menulevel},</if>
            <if test="menuurl != null">menuurl=#{menuurl},</if>
            <if test="appid != null">appid=#{appid},</if>
            <if test="sortno != null">sortno=#{sortno},</if>
            <if test="menutype != null">menutype=#{menutype},</if>
            <if test="remark != null">remark=#{remark},</if>
            <if test="modifytime != null">modifytime=#{modifytime},</if>
            <if test="modifier != null">modifier=#{modifier},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="deleteBatch">
        update portal_menu set delflag='1'  
        where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    
    <select id="queryAuthHomeMenus" parameterType="String" resultType="com.lk.template.portal.model.Menu">
        select id, menuno, menuname, parentid, menulevel, menuurl, appid, sortno, menutype, remark
        from portal_menu where delflag='0' and homeurl is not null and homeurl!=''
    </select>
    
    
</mapper>