<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.template.portal.dao.RoleauthcfgDao">

    <select id="queryByRoleid" parameterType="int" resultType="com.lk.template.portal.model.Roleauthcfg" >
        SELECT * FROM portal_roleauthcfg
		where roleid=#{roleid}
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List" >
        insert into portal_roleauthcfg(roleauthtype, refid, departmentid, positionid, roleid)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.roleauthtype}, #{item.refid}, #{item.departmentid}, #{item.positionid}, #{item.roleid})
        </foreach>
    </insert>
    
    <delete id="delByRoleid" parameterType="Integer">
        delete from portal_roleauthcfg where roleid=#{roleid}
    </delete>

</mapper>