<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.template.org.dao.DepartmentDao">

    <resultMap id="result1" type="com.lk.template.org.model.Department" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="depno" property="depno" jdbcType="VARCHAR" />
        <result column="depname" property="depname" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="parentid" property="parentid" jdbcType="BIGINT" />
        <result column="deppath" property="deppath" jdbcType="VARCHAR" />
        <result column="deplevel" property="deplevel" jdbcType="BIGINT" />
        <result column="deptype" property="deptype" jdbcType="VARCHAR" />
        <result column="sortno" property="sortno" jdbcType="INTEGER" />
        <collection property="posids" ofType="java.lang.Long">
            <constructor>
                <arg column="posids"/>
            </constructor>
        </collection>
    </resultMap>

    <select id="get"  resultType="com.lk.template.org.model.Department">
        select * from org_department where
        <if test="_parameter != null">
        id = ${_parameter}
        </if>
    </select>
    <select id="expand" parameterType="com.lk.template.org.model.Department" resultType="com.lk.template.org.model.Department">
        select * from org_department where delflag='0'
        <if test="id != null and id > 0">and id=#{id}</if>
        <if test="depno != null">and depno=#{depno}</if>
        <if test="depname != null">and depname=#{depname}</if>
        limit 1 
    </select>
    
    <!-- 查询所有的一级菜单 -->
    <select id="queryDepartmentsLevel1" resultMap="result1">
        select d.*, l.positionid as posids
        from org_department d
        left join org_depposlnk l on d.id=l.departmentid
        where d.delflag='0' and d.deplevel=1
        order by d.sortno
    </select>
	
	<!-- 通过父id查询下级菜单 -->
    <select id="queryDepartmentsByParentid" parameterType="long" resultMap="result1">
        select d.*, l.positionid as posids
        from org_department d
        left join org_depposlnk l on d.id=l.departmentid
        where d.delflag='0' and d.parentid = #{parentid}
        order by d.sortno
    </select>
    
    <!-- 通过父id查询所有下级菜单 -->
    <select id="queryAllDepsByParentidWithPage" parameterType="map" resultType="com.lk.template.org.model.Department">
        SELECT * FROM org_department WHERE ID IN (
            SELECT id FROM (
                SELECT id, parentid, IF(FIND_IN_SET(parentid, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) pids
                FROM org_department, (SELECT @pids := #{parentid}) var
                WHERE FIND_IN_SET(parentid, @pids) > 0
            ) tmp
        ) and delflag='0'
        <if test="sort != null">
            order by ${sort} 
            <if test="order != null">${order}</if>
        </if>
        limit #{begin}, #{rows}
    </select>
    <select id="countAllDepsByParentid" parameterType="map" resultType="Integer">
        SELECT count(1) FROM org_department WHERE ID IN (
            SELECT id FROM (
                SELECT id, parentid, IF(FIND_IN_SET(parentid, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) pids
                FROM org_department, (SELECT @pids := #{parentid}) var
                WHERE FIND_IN_SET(parentid, @pids) > 0
            ) tmp
        ) and delflag='0'
    </select>

    <insert id="insert" parameterType="com.lk.template.org.model.Department" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT org_department
        (depno, depname, remark, address, workphone, parentid, deppath, deplevel, managerid, managername, 
         principalid, principal, deptype, virtualflag, sortno, createtime, modifytime, creator, modifier, delflag)
        VALUES
        (#{depno}, #{depname}, #{remark}, #{address}, #{workphone}, #{parentid}, #{deppath}, #{deplevel}, #{managerid}, #{managername}, 
         #{principalid}, #{principal}, #{deptype}, #{virtualflag}, #{sortno}, #{createtime}, #{modifytime}, #{creator}, #{modifier}, #{delflag})
    </insert>
    
    <update id="update" parameterType="com.lk.template.org.model.Department">
        update org_department
        <trim prefix="set" suffixOverrides=",">  
           <if test="depno != null">depno=#{depno},</if>
           <if test="depname != null">depname=#{depname},</if>
           <if test="remark != null">remark=#{remark},</if>
           <if test="address != null">address=#{address},</if>
           <if test="workphone != null">workphone=#{workphone},</if>
           <if test="parentid != null">parentid=#{parentid},</if>
           <if test="deppath != null">deppath=#{deppath},</if>
           <if test="deplevel != null">deplevel=#{deplevel},</if>
           <if test="managerid != null">managerid=#{managerid},</if>
           <if test="managername != null">managername=#{managername},</if>
           <if test="principalid != null">principalid=#{principalid},</if>
           <if test="principal != null">principal=#{principal},</if>
           <if test="deptype != null">deptype=#{deptype},</if>
           <if test="virtualflag != null">virtualflag=#{virtualflag},</if>
           <if test="sortno != null">sortno=#{sortno},</if>
           <if test="createtime != null">createtime=#{createtime},</if>
           <if test="creator != null">creator=#{creator},</if>
           <if test="modifytime != null">modifytime=#{modifytime},</if>
           <if test="modifier != null">modifier=#{modifier},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="deleteBatch">
        update org_department set delflag='1'  
        where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
