<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.template.org.dao.DepposlnkDao">
    
    <select id="queryByDepid" parameterType="Long" resultType="map">
        SELECT lnk.*, d.depname depname, p.posname posname
        FROM org_depposlnk lnk
        LEFT JOIN org_department d ON lnk.departmentid=d.id
        LEFT JOIN org_position p ON lnk.positionid=p.id
        where d.delflag = 0 AND p.delflag=0 and lnk.departmentid=#{depid}
    </select>

    <select id="queryAllList_ext" resultType="map">
        SELECT lnk.*, d.depname depname, p.posname posname
        FROM org_depposlnk lnk
        LEFT JOIN org_department d ON lnk.departmentid=d.id
        LEFT JOIN org_position p ON lnk.positionid=p.id
        where d.delflag = 0 AND p.delflag=0
        order by lnk.departmentid
    </select>
    
    <insert id="insertByDepidPosids" parameterType="map">
        insert into org_depposlnk(departmentid, positionid, createtime, creator)
        values
        <foreach collection="posids" index="index" item="item" separator=",">
            (#{depid}, #{item}, current_timestamp, #{creator})
        </foreach>
    </insert>
    
    <delete id="deleteByDepid" parameterType="Long">
        delete from org_depposlnk where departmentid=#{depid}
    </delete>
    
</mapper>
