<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.template.org.dao.PositionDao">

    <select id="get"  resultType="com.lk.template.org.model.Position">
        select * from org_position where 
        <if test="_parameter != null">
        id = ${_parameter}
        </if>
    </select>
    <select id="expand" parameterType="com.lk.template.org.model.Position" resultType="com.lk.template.org.model.Position">
        select * from org_position where delflag='0'
        <if test="id != null and id > 0">and id=#{id}</if>
        <if test="posno != null">and posno=#{posno}</if>
        <if test="posname != null">and posname=#{posname}</if>
        limit 1 
    </select>

    <select id="queryAllList" resultType="com.lk.template.org.model.Position">
        select *
        from org_position where delflag='0'
        order by sortno
    </select>
    
    <select id="queryListWithPage" parameterType="map" resultType="com.lk.template.org.model.Position">
        select * from org_position where delflag='0' 
        <if test="sort != null">
            order by ${sort} 
            <if test="order != null">${order}</if>
        </if>
        limit #{begin}, #{limit}
    </select>
    <select id="count" parameterType="map" resultType="Integer">
        select count(1) from org_position where delflag='0' 
    </select>
    
    <insert id="insert" parameterType="com.lk.template.org.model.Position" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into org_position
        (posno, posname, remark, sortno, createtime, modifytime, creator, modifier, delflag)
        values
        (#{posno}, #{posname}, #{remark}, #{sortno}, #{createtime}, #{modifytime}, #{creator}, #{modifier}, #{delflag})
    </insert>
    
    <update id="update" parameterType="com.lk.template.org.model.Position">
        update org_position
        <trim prefix="set" suffixOverrides=",">  
           <if test="posno != null">posno=#{posno},</if>
           <if test="posname != null">posname=#{posname},</if>
           <if test="remark != null">remark=#{remark},</if>
           <if test="sortno != null">sortno=#{sortno},</if>
           <if test="modifytime != null">modifytime=#{modifytime},</if>
           <if test="modifier != null">modifier=#{modifier},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="deleteBatch">
        update org_position set delflag='1'  
        where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
